global:
  scrape_interval: 15s

scrape_configs:
  - job_name: telegram_bot
    static_configs:
      - targets: ['telegram_bot:8000']
  - job_name: backpack_worker
    static_configs:
      - targets: ['backpack_worker:8001']
  - job_name: tg_gifts_worker
    static_configs:
      - targets: ['tg_gifts_worker:8002']
  - job_name: telegram_portal_worker
    static_configs:
      - targets: ['telegram_portal_worker:8003']
